<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-4 d-flex justify-content-center">
      <a routerLink="/home" class="btn btn-dark">Home</a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a routerLink="/inscription" class="btn btn-dark">Inscription</a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
